header{
    background-color: rgb(204, 96, 7);
    .container{
        padding: 0 10px;
        ul{
            li{
                padding: 0 13px;
                a{
                    font-weight: 600;
                    font-size: 25px;
                    color: white !important;
                    &:hover{
                        color: rgb(69, 69, 189) !important;
                        transition: 0.3s all ease;
                    }
                }
            }
        }
    }
}