#work{
    margin-top: 150px;
    text-align: center;
    .title{
        span{
            color: #1c8db9;
            font-size: 40px;
        }
    }
    .subtitle{
        margin-top: 15px;
        p{
            color: gray;
        }
    }
}