#introduction{
    margin-top: 50px;
    display: flex;
    align-items: center;
    .introduction-img{
        img{
            width: 90%;
        }
    }
    .introduction-text{
        span{
            font-size: 50px;
            color: #00b7ff;
        }
        p{
            font-size: 20px;
        }
        .introduction-btn{
            button{
                border: none;
                border-radius: 2rem;
                padding: 10px 30px;
                background-color: #1c8db9;
                color: white;
                &:hover{
                    background-color: rgba(79, 170, 206, 0.815);
                    transition: 0.4s;
                }
            }
        }
    }
}