@model Transportation
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <form class="forms-sample" method="post">
            <h1>Silmeye eminsiz?</h1>
            <button type="submit" class="btn btn-primary mr-2">Delete</button>
            <a class="btn btn-dark" asp-controller="Transportation" asp-action="Index">Back</a>
        </form>
    </div>
</div>

